# Directories #
/bin/
/obj/
/packages/
/test-results/
# Rider/Resharper specific #
.idea/
.idea/**/*
*.sln.iml

# Visual Studio Code specific #
.vscode/
.vscode/**

# User-specific files #
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Build results #
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet #
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets

# MSTest test Results #
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT #
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core #
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding #
ScaffoldingReadMe.txt

# Others #
*.DS_Store
*.swp
*~
._*
